@{
    ViewData["Title"] = "Pointless List";
}

@*TODO remove pointless things when ready*@

<h2>An Unremarkably Pointless List</h2>

<p>No it's not going to be a list of pointless things.  It's the list itself that's pointless</p>
