@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is better than a blank page or some kind of error screen, in the author's opinion</p>
</div>
