@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>The author(s) and/or maintainer(s) of this site will not sell any information about you, nor will they intentionally reveal anything about you, to the public nor to other users, without your permission. </p>

<p> They might <strong>collect</strong> information about you, but the data they retrieve will not be used for any nefarious purpose.  The reasons for collecting info include at least the following items: </p>

<ul>
<li>They will want to know who you are, if they're going to reveal information about themselves. For example if you want to know their name(s), they're going to want to know yours</li> 
<li>They will want to know how many of you are observing their content, and how often.</li>
</ul>

<p>With that being said, of course none of those promises apply to you if you attempt to use this site for anything criminal or unethical</p>